body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333333;
    background-color: #f9f9f998;
    padding: 10px;
}

.contenedor-wiki {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f998;
    border: 1px solid #dddddd;
    display: grid;
    grid-template-areas: 
        "cabecera cabecera"
        "indice articulo"
        "referencias referencias";
    grid-template-columns: 250px 1fr; 
    gap: 20px;    
}

header {
    grid-area: cabecera;
    background-color: #ee3b3b;
    border-bottom: 2px solid #eeeeee;
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloque-izquierdo {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 175px;
}

.logo-institucional {
    height: 35px; 
    width: auto;  
}

header h1 {
    margin: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}

.logo-wiki {
    height: 45px;
    width: auto;
   
}

aside {
    grid-area: indice;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #eeeeee;
}

aside a {
    color: #333333;
}

aside li {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
    margin-bottom: 8px;
}

aside h2 {
    margin: 0 0 15px 0;
    font-size: 25px;
    color: #ee3b3b;
    text-align: center;
}


.subtema {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 4px;
    padding-left: 15px;
}

.subtema a {
    color: #676767;
    font-size: 14px;
}

main {
    grid-area: articulo;
    background-color: #ffffff;
    padding: 15px;
    min-width: 0;
}

footer {
    grid-area: referencias;
    background-color: #3f3f5e;
    height: 60px;
    padding: 4px 12px;
    border-top: 4px solid #eeeeee;
    display: flex;
    flex-direction: column;
}


footer h2 {
    margin: 0;
    font-size: 14px;
    color: #dddddde1;
}

.lista-referencias {
    display: flex;
    justify-content: center;
    
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
    gap: 40px;
}

.lista-referencias li {
    display: flex;
    align-items: center;
}

footer a {
    color: #ffffff;
}
